<footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
        <li class="rk-menu__item">
          <a routerLink="about" class="rk-menu__link">About</a>
        </li>
        <li class="rk-menu__item">
          <a href="contact.html" class="rk-menu__link">Contact</a>
        </li>
      </ul>
      <p class="rk-footer__text rk-footer__copy ">
        <span class="ae-u-bold">© </span>
        <span class="ae-u-bolder">{{ year }} {{ _pageInfoService.info.title }} </span>
        All Right Reserved.
      </p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a target="_blank" [href]="_pageInfoService.info.facebook" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg>
      </a>
      <a target="_blank" [href]="_pageInfoService.info.twitter" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg>
      </a>
      <a target="_blank" [href]="_pageInfoService.info.instagram" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-pinterest"></use>
        </svg>
      </a>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact "> 
        <span class="ae-u-bold">Email: </span>
        <span class="ae-u-bolder">
          <a href="mailto:{{ _pageInfoService.info.email }}" class="rk-dark-color ">{{ _pageInfoService.info.email }} </a>
        </span>
      </p>
      <p class="rk-footer__text rk-footer__by">Phone: 
        <a href="tel:{{ _pageInfoService.info.phone }}" class="ae-u-bolder">{{ _pageInfoService.info.phone }}</a>
      </p>
    </div>
  </div>
</footer>
