<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
  <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
    <a *ngFor="let product of _productsService.products" routerLink="/item" class="rk-item ae-masonry__item"><img src="assets/products/{{ product.url }}.jpg" alt="product-img">
      <div class="item-meta">
        <h2>{{ product.title }}</h2>
        <p>{{ product.category }}</p>
      </div>
    </a>
  </div>
</section>
